{% extends "layouts/base.html" %}

{% block content %}

  <div class="grid-container">
    <div class="grid-x grid-padding-x align-spaced">
      {% for movie in data %}
        <div class="cell small-6 medium-4 large-2">
          <div class="overlay-image"><a href="movie/{{ movie.id }}">
            <img class="posterWaterworld" src="{{ baseUrl('assets/posters/') }}{{ movie.poster }}">
              <div class="text">{{ movie.title }}</div>
                </a></div>
            </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}