@font-face {
  font-family: 'SpaceAge';
  src: url('space_age.ttf') format('truetype');
}

*{
  margin: 0px;
  padding: 0px;
}

html, body {
  min-height: 100%;
  background: linear-gradient(rgb(214, 214, 214), rgb(170, 170, 170));
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////// HEADER ///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

header {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
  background: linear-gradient(rgb(114, 112, 112), rgb(44, 44, 42));
  box-shadow: 0px 3px 10px #111;
  z-index: 30;
}

h1 {
  padding-top: 8px;
  font-family: SpaceAge;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.644);
  word-spacing: 8px;
}

.champ {
  width: 50%;
  margin: auto;
  text-align: center;
  height: 39px;
  border-radius: 3px;
}

.bouton {
  width: 50%;
  margin-top: 5px;
  height: 39px;
  background: linear-gradient(rgb(61, 206, 73), rgb(69, 139, 29));
  opacity: 0.9;
  color: rgba(205, 241, 194, 0.945);
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  border: 1px black;
  cursor: pointer;
}

.bouton:hover {
  opacity: 1;
  border: 1px black;
  box-shadow: 1px 1px 12px black;
  cursor: pointer;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////// FOOTER ///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

#detail-film {
  /*  a enlever au responsive*/
  margin-bottom: 186px; 
}

footer {
  text-align: center;
  padding: 28px;
  background: linear-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
  color: white;
 
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////// INDEX ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

.grid-container {
  padding-top: 50px;
  background: linear-gradient(rgb(214, 214, 214), rgb(170, 170, 170));
  z-index: 10;
}

section {
  padding-bottom: 50px;
}

img {
  box-shadow: 1px 1px 12px rgb(0, 0, 0);
  z-index: 5;
}

img:hover {
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  opacity: .5;

}

/* Conteneur principal du poster */
.overlay-image {
  position: relative;
  width: 100%;
  z-index: 5;
 }
 
 /* Image originale du poster */
 .overlay-image .posterWaterworld {
  display: block;
  width: 100%;
  height: auto;
  z-index: 5;
 }
 
 /* Texte original du poster */
 .overlay-image .text {
  z-index: 8;
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.712); /* Black see-through */
  transition: .5s ease;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
 }

.overlay-image .text:hover {
  opacity: 1;
  z-index: 8;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////// DETAIL ///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

.container{
  padding-top: 30px;
}

.ahome{
  padding: 25px;
}

.media-object-section{
  margin-left: 30px;
}

.movie-title{
  font-size: 45px;
}

.year{
  color: grey;
  font-size: 30px;
}

.h3 {
  margin-bottom: 32px;
}

.h4 {
  margin-bottom: 16px;

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////// MEDIA QUERIES ///////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 640px) {
  
  #detail-film {
    margin-bottom: 0px;
  }
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// ZOOM ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

.picture{
  transition: .3s ease-in-out;
}

.picture:hover {
  transform: scale(1.2);
}

.thumbnail{
  border: none;
}

